{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   
    <link rel="stylesheet" href="{% static 'css/customerStyle.css' %}">
    
</head>
<body>
    <header>
        <h1>
                <a href="/" class="black-text"><i class="material-icons">home</i></a>
            Customer Dashboard
        </h1>
    </header>
    <div class="containers">
        <div class="row">
        <div class="col l4 m12 s12 formDiv box">
            <form action="customerReg" method="get" id='customerForm'>
                
                <div class=" inputBox">
                    <label>Mode</label>
                    <select class='browser-default' name="" id="Mode">
                        <option value="random">Random</option>
                        <option value="all">All Available</option>
                        <option value="least">Least Busy</option>
                    </select>
                </div>
                
                <div class="inputBox">
                    <label for="requirement">Roles</label>
                    <div class="roles">
                        <p>
                            <label>
                                <input type="checkbox" name="roles" id="" value="hr">
                                <span>HR</span>    
                            </label>
                        </p>
                        <p>
                            <label >
                                <input type="checkbox" name="roles" id="" value="sales">
                                <span>Sales</span>
                            </label>
                        </p>
                        <p>
                            <label >
                                <input type="checkbox" name="roles" id="" value="management">
                                <span>Management</span>
                            </label>
                        </p>
                        <p>
                            <label >
                                <input type="checkbox" name="roles" id="" value="support">
                                <span>Support</span>
                            </label>
                        </p>
                        <p>
                            <label >
                                <input type="checkbox" name="roles" id="" value="technology">
                                <span>Technology</span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="inputBox">
                    <input class='btn large' type="submit" value="Find Agent">
                </div>
            </form>
        </div>
        <div id="output" class="col l8 m12 s12 box">
            
        </div>
    </div>
        <div class="LI-profile-badge"   data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="abhishek-powar"><a class="LI-simple-link" href='https://in.linkedin.com/in/abhishek-powar?trk=profile-badge'>Abhishek Powar</a>
        </div>
    <script src="{% static 'js/customer.js'%}"></script>
    <script>
            
    </script>
</body>
</html>